{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "16.8"
    }
  },
  "plugins": ["prettier", "eslint-plugin-import"],
  "extends": [
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "react-hooks/rules-of-hooks": "warn",
    "react-hooks/exhaustive-deps": "warn",
    "react/react-in-jsx-scope": "off",
    "prettier/prettier": [
      "off",
      {
        "tabWidth": 4,
        "trailingComma": "es5"
      }
    ]
  },
  "globals": {
    "strapi": true
  }
}
